* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

/* Sidebar */
.sidebar {
    flex: 0 1 3%;
    background-color: #1a1a1a;
    color: white;
    padding: 1em;
    min-height: 100vh;
}

.sidebar-header h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.sidebar-header p {
    font-size: 1em;
    margin-bottom: 1em;
}

.sidebar-nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 1em 0;
}

.sidebar-nav a:hover {
    text-decoration: underline;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 1.5em;
}

section {
    margin-bottom: 2.5em;
}

section h2 {
    margin-bottom: 0.5em;
    font-size: 1.7em;
}

/*edu-item*/
.edu-item, 
.lang-item {
    margin-bottom: 1em;
    padding: 1em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.edu-item h3, 
.lang-item h3{
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.edu-item h4,
.lang-item h4{
    margin-bottom: 0.2em;
    font-style:italic;
    font-size: 1em;
    color: #555;
}

.edu-item p,
.lang-item p{
    font-style: italic;
    font-size: 0.9em;
    color: #777;
}